*{
    padding: 0;
    margin: 0;
}

.head-title {
    font-family: helvetica;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

#dashboard {
    margin: 10px 0 0 70px;
}


.section {
    display: inline-block;
    padding: 0 20px;
}

#chart1 {
	background-color: #E4E5DF;
    width: 550px;
    height: 400px;
}

#chart2 {
	background-color: #E4E5DF;
    width: 450px;
    height: 400px;
}

#chart3 {
    background-color: #E4E5DF;
    width: 450px;
    height: 400px;
}

#chart4 {
	background-color: #E4E5DF;
    width: 1005px;
    height: 400px;
}

.controls {
    position: absolute;
    text-align: center;
    margin-left: 80px;
}

#control1 {
    margin-bottom: 30px;
}








