*{
	background-color: #B6B9C2;
}

#body-Container {

}

.head-title {
    font-family: helvetica;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    text-align: center;
}

#dashboard {

}

.secton {

}

#chart1 {


}

#chart2 {


}

#chart3 {


}

#control1 {

}

#control2 {

}