*{

}

#body-Container {

}

.head-title {
    font-family: helvetica;
    font-variant-caps: all-petite-caps;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
}

#dashboard {
	padding: 0 0 0 62px;
}

.secton {
}

#chart1 {
	background-color: #E4E5DF;
    width: 300px;
    height: 400px;

}

#chart2 {
	background-color: #E4E5DF;
    width: 300px;
    height: 400px;
    margin: -400px 0 0 420px;

}

#chart3 {
	background-color: #E4E5DF;
    width: 300px;
    height: 400px;
    margin: -400px 0 0 840px;

}

#control1 {

}

#control2 {

}



.columncss{
    font-family: helvetica;
        margin-bottom: -26px;
        font-size: 12px;
        font-variant-caps: all-petite-caps;
        letter-spacing: 1px;



}

.donutcss{
    font-family: helvetica;
        margin-bottom: -26px;
        padding-left: 421px;
        font-size: 12px;
        font-variant-caps: all-petite-caps;
        letter-spacing: 1px;


}

.barcss{
    font-family: helvetica;
        padding-left: 840px;
    margin-bottom: 1px;
    font-size: 12px;
    font-variant-caps: all-petite-caps;
    letter-spacing: 1px;


}







